.download {
	position: fixed;
	right: 0;
	top: 0;
	z-index: 400;

	box-sizing: border-box;
	width: ( 100vh / 8 );
	height: ( 100vh / 8 );
	margin: ( 100vh / 8 * 6 ) 0 0 0;
	padding: 0.5em 0.5em;

	font-size: 6.75vh;
	line-height: 1;
	text-decoration: none;
	text-align: center;
	color: @color--bg;

	background: @color--1;

	& > .reveal {
		display: none;
	}

	&:hover,
	&:focus {
		width: auto;

		color: @color--text;

		background: @color--2;

		& > .reveal {
			display: inline;
		}		
	}
}

.download-line {
	display: block;
	
	&:first-child {
		margin-bottom: ( 100vh / 8 );
		padding-bottom: 0.75em;
	}
}