.pastes {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;

	display: flex;
	flex-direction: column;
}

.paste {
	position: relative;

	box-sizing: border-box;
	height: ( 100vh / 8 );

	font-size: 6.75vh;

	overflow: hidden;

	&::after {
		content: attr( data-url );

		position: fixed;
		left: 0;
		top: 0;
		z-index: 100;

		box-sizing: border-box;
		width: 100vh;

		padding: 0.5em 0.5em;

		font-size: 5vh;
		line-height: 1;
		white-space: nowrap;
		color: @color--bg;

		background: @color--1;

		visibility: hidden;

		transform-origin: 0 0;
		transform: rotate( -90deg ) translateX( -100% );
	}

	&:nth-child( 2n + 1 ) {
		color: @color--bg;

		background: @color--text;
	}	

	&:hover {

		&::after {
			visibility: visible;
		}
	}
}

.paste-scroller {
	position: absolute; 
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;

	height: ( 100vh / 8 );
	margin: 0 0 -1rem 0;
	padding: 0 0 1rem;

	white-space: nowrap;	

	overflow-x: auto;
	overflow-y: visible;

	& > a {
		box-sizing: border-box;
		display: block;
		height: ( 100vh / 8 );		
		padding: 0.5em 0.75em;

		color: inherit;
		text-decoration: none;
	}
}